# ----------------------------------> Eat CodeOwners File <---------------------------------- #

# Source code is owned by @EatInstall/developer team
*.sh @EatInstall/developer
*.py @EatInstall/developer
# GitHub specific stuff (including github actions workflows, this file, and
# repository settings file) is owned by @Tyler887 and @nekoism
.github/* @Tyler887 @nekoism
# Documentation (markdown) is owned by @EatInstall/docs, a subsidiary of @EatInstall/developer
*.md @EatInstall/docs
